.main{
  background: url('./mainbackground.jpg');
  background-size: cover;
  height: 110vh;
  display: grid;
  justify-content: center;
}
.main-text{
  padding-top: 5%;
  animation-name: anim;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  font-size: 50px;
  text-align: center;
  color: aqua;
}
@keyframes anim{
  10%{
    color: blue;
  }
  20%{
    color: red;
  }
  30%{
    color: whitesmoke;
  }
  40%{
    color: yellow;
  }
  100%{
    color: chocolate;
  }
}
.btn:hover{
  transition: .4s;
  padding-left: 2px;
  transform: rotate(360deg);
  color: red;
}
.pesh{
  color: aqua;
  font-size: 30px;
}